<header>
  <h2>Select an item from list</h2>
</header>
<div
  class="row products"
  style="width : 50%; height :400px; overflow-x: auto; "
>
  <div class="col-1g-4 col-12">
    <div class="card">
      <img
        src="https://5.imimg.com/data5/HY/LY/YE/SELLER-56810464/the-clownfish-belle-series-handbag-for-women-ladies-purse-handbags-dark-brown--500x500.jpg"
        class="card-img-top"
        height="300px"
      />
      <div class="card-body">
        <div class="btn-group">
          <button type="button" class="btn secondary">View</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1g-4 col-12">
    <div class="card">
      <img
        src="https://5.imimg.com/data5/HY/LY/YE/SELLER-56810464/the-clownfish-belle-series-handbag-for-women-ladies-purse-handbags-dark-brown--500x500.jpg"
        class="card-img-top"
        height="300px"
      />
      <div class="card-body">
        <div class="btn-group">
          <button type="button" class="btn secondary">View</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1g-4 col-12">
    <div class="card">
      <img
        src="https://5.imimg.com/data5/HY/LY/YE/SELLER-56810464/the-clownfish-belle-series-handbag-for-women-ladies-purse-handbags-dark-brown--500x500.jpg"
        class="card-img-top"
        height="300px"
      />
      <div class="card-body">
        <div class="btn-group">
          <button type="button" class="btn secondary">View</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1g-4 col-12">
    <div class="card">
      <img
        src="https://5.imimg.com/data5/HY/LY/YE/SELLER-56810464/the-clownfish-belle-series-handbag-for-women-ladies-purse-handbags-dark-brown--500x500.jpg"
        class="card-img-top"
        height="300px"
      />
      <div class="card-body">
        <div class="btn-group">
          <button type="button" class="btn secondary">View</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1g-4 col-12">
    <div class="card">
      <img
        src="https://5.imimg.com/data5/HY/LY/YE/SELLER-56810464/the-clownfish-belle-series-handbag-for-women-ladies-purse-handbags-dark-brown--500x500.jpg"
        class="card-img-top"
        height="300px"
      />
      <div class="card-body">
        <div class="justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn secondary">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1g-4 col-12">
    <div class="card">
      <img
        src="https://5.imimg.com/data5/HY/LY/YE/SELLER-56810464/the-clownfish-belle-series-handbag-for-women-ladies-purse-handbags-dark-brown--500x500.jpg"
        class="card-img-top"
        height="300px"
      />
      <div class="card-body">
        <div class="btn-group">
          <button type="button" class="btn secondary">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
